<ul class="list-group">
    <li *ngFor="let follower of followers" class="list-group-item">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2  bd-highlight">
                <img class="rounded-circle" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1715fd4e364%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1715fd4e364%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
            </div>
            <div class="p-2  bd-highlight">
                <h4>
                    <a [routerLink]="['/followers', follower.id ]">{{ follower.name }}</a>
                </h4>
                <a href="follower.website">{{ follower.website }}</a>
            </div>
        </div>       
    </li>
</ul>